<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Globetrotter{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body { padding-top: 50px; }
        .container { max-width: 800px; }
        footer { margin-top: 50px; text-align: center; padding: 10px 0; }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Globetrotter</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'game_view' %}">Play Game</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2025 Globetrotter. All rights reserved.</p>
    </footer>
</body>
</html>

